@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video__container {
  position: relative;
  height: 50vh;
  width: 680px;
  margin-top: 20px;
}

.video {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.video video {
  width: 100%;
}

.drawingBuffer {
  display: none;
}

.skeleton__unsopported {
  text-align: center;
  height: 100%;
}

.skeleton__unsopported video {
  display: none;
}
